{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", {"ssr": true}],
    "@babel/syntax-dynamic-import",
    [
      "lodash",
      {
        "id": ["lodash"]
      }
    ]
  ],
  "ignore": ["node_modules", ".next"]
}
